/* ini CSS */
body{

    background-image: url('assets/WhatsApp Image 2024-06-18 at 5.16.50 PM.jpeg');
    color: whitesmoke;
}  

textarea{
    resize: none;
    background-color: #f8f8f8;
    border-radius: 10px;
   

}

